{% extends 'base.html.twig' %}

{% block title %}Modifer Genre{% endblock %}

{% block body %}
    <h1>Modifer Genre</h1>

    {{ include('genre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('genre_index') }}">Revenir a la liste</a>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
