{% extends 'base.html.twig' %}

{% block title %}Creer Genre{% endblock %}

{% block body %}
    <h1>Creeer un nouveau Genre</h1>

    {{ include('genre/_form.html.twig') }}

    <a href="{{ path('genre_index') }}">Revenira la liste</a>
{% endblock %}
