{% extends 'base.html.twig' %}

{% block title %}Modifier Auteur{% endblock %}

{% block body %}
    <h1>Modifier Auteur</h1>

    {{ include('auteur/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('auteur/_delete_form.html.twig') }}
    <a href="{{ path('auteur_index') }}">Revenir a la liste</a>

{% endblock %}
