{% extends 'base.html.twig' %}

{% block title %}Creer Auteur{% endblock %}

{% block body %}
    <h1>Creer nouveau Auteur</h1>

    {{ include('auteur/_form.html.twig') }}

    <a href="{{ path('auteur_index') }}">Revenir a la liste</a>
{% endblock %}
